.header{
    position: relative;
    font-family: 'LeferiPoint-SpecialItalicA';
    width: 100vw;
}
.nav_wrap{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;

}

.dropBox{
    font-size: 18px;
}
.logo{
    text-decoration: none;
    color: rgb(146, 130, 130);
}
.navItem, .dropItem{
    text-decoration: none;
    color: rgb(146, 130, 130);
}
.navItem:visited{
    background-color: black;
}
.login,.signup{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(146, 130, 130);
    font-size: 16px;
}
.login:hover,.signup:hover{
    color:rgb(241, 210, 123);
}

.dropNav:hover{
    color:rgb(59, 55, 55);
}
.dropItem:hover,.navItem:hover {
    color:rgb(241, 210, 123);
}
.drop_button{
    background-color: rgb(59, 55, 55);
}
.drop_button:hover{
    background-color: rgb(215, 213, 213);  
}
.drop_menu{
    background-color:rgb(42, 42, 50) ;
    opacity: 0.8;
}


.forUser{
    position: absolute;
    top: 5px;
    right: 60px;
    display: flex;
    
}