.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.recipeCardContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(245, 230, 188);
  border: 1px solid black;
}
.recipeCardContainer img {
  width: 7vw;
  
}
.recipeCardWrap {
  width: 20vw;
  height: 15vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipeTitle {
  font-size: 0.6rem;
}

.recipeComponent {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100vw;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.recipeComponent img {
  width: 30vw;
}
.recipeContent {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  font-size: 1vw;
}

.recipeContent h4 {
  margin-top: 50px;
}
.recipeComponent img {
  margin-left: 20px;
}

@media screen and (max-width: 991px) {
  .recipeCardContainer {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(245, 230, 188);
    border: 1px solid black;
  }
  .recipeCardContainer img {
    width: 10vw;
  }
  .recipeContent h4 {
    font-size: 2vw;
  }
  .recipeContent span {
    font-size: 1vw;
  }
}


@media screen and (max-width: 640px) {
  .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .recipeCardContainer {
    width: 25vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(245, 230, 188);
    border: 1px solid black;
  }
  .recipeCardContainer img {
    width: 8vw;
  }
  .recipeCardWrap {
    width: 25vw;
    height: 15vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .recipeTitle {
    font-size: 1vw;
  }

  .recipeComponent {
    margin-top: 15vh;
    margin-right: 8vw;
    width: 60vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recipeComponent img {
    width: 40vw;
  }
  .recipeContent {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    font-size: 1vw;
  }

  .recipeContent h4 {
    font-size: 3vw;
  }
  .recipeComponent img {
    margin-left: 20px;
  }
}
