 .wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
  
}
.recipeCardContainer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(245, 230, 188);
    border: 1px solid black;
}
.recipeCardContainer img{
    width: 5vw;
}
.recipeCardWrap{
    width: 20vw;
    height: 15vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.recipeCardWrap img{
}
.recipeTitle{
    font-size: 0.6rem;
}

.recipeComponent{
    margin-top: 5vh;
    width: 100vw;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    background-color: aqua;
}
.recipeComponent img{ 
    width: 30vw;
}
.recipeContent{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    font-size: 1vw;
}

.recipeContent h4{margin-top: 50px;}
.recipeComponent img
{margin-left: 20px;

}

@media screen and (max-width: 991px){

    
}