.productWrap {
  position: relative;
  font-family: "LeferiPoint-SpecialItalicA";
}
.backGroundImg {
  width: 100%;
}
.logo {
  position: absolute;
  top: 1%;
  right: 10%;
  width: 50%;
}
.logoWrap {
  position: absolute;
  top: 10%;
  right: 1%;
  width: 40%;
  font-size: 100%;
}
.logoExp {
  font-size: 1.5vw;
  margin-top: 5%;
  color: rgb(65, 65, 65);
}
.contentWrap {
  width: 100%;
}
.con1 {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 5%;
}

.Exp1 {
  margin-top: 2%;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
}
.Exp1 h2,
.Exp1 h3 {
  font-size: 2vw;
}
.Exp1 p {
  font-size: 1vw;
}
.con2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 208, 224);
  padding: 1.5% 0;
}

.Exp2 {
  width: 30%;
  margin-left: 4%;
}
.Exp2 h3 {
  font-size: 1.5vw;
}
.Exp2 p {
  font-size: 1vw;
}
.con1 img,
.con2 img {
  width: 18vw;
}
.con3 {
  width: 100vw;
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-top: 50px;
}
.productCard {
  cursor: pointer;
}
.productCard h5 {
  font-size: 1.3vw;
}
.productCard p {
  font-size: 1vw;
}
.productCardImg {
  transition: opacity 0.6s, transform 0.6s;
  width: 20vw;
}

.productCardImg:hover {
  opacity: 1;
  transform: scale(1.4);
}

@media screen and (max-width: 640px) {
  .logoWrap {
    position: absolute;
    top: 5%;
    right: 2%;
    width: 40%;
    font-size: 100%;
  }
  .logoExp {
    font-size: 1.5vw;
    color: rgb(65, 65, 65);
  }
  .Exp1 h2,
  .Exp1 h3 {
    font-size: 1vw;
  }
  .Exp1 p {
    font-size: 0.5vw;
  }
  .Exp2 h3 {
    font-size: 1vw;
  }
  .Exp2 p {
    max-height: 100%;
    font-size: 0.5vw;
  }
  .Exp2 p.close{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
