.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../mainImg/banner.jpg") no-repeat;
  background-size: cover;
}
.signupForm {
  position: absolute;
  margin-top: 10%;
  margin-left: 40%;
}
.registerForm {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.formGroup {
  display: flex;
  flex-direction: row;
  
}
input {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  width: 30vw;
  border-radius: 2rem;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: #3c354e;
  font-size: 1rem;
  font-weight: bold;
}
input:focus {
  display: inline-block;
  box-shadow: 0 0 0 0.2rem #b9abe0;
  backdrop-filter: blur(12rem);
  border-radius: 2rem;
}
input::placeholder {
  color: #30294299;
  font-weight: 100;
}
.formSubmit {
  margin-top: 10%;
  background: linear-gradient(to right, #332f2c 0%, #644100 79%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 100%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  color: #ffffff;
  
}
.formIcon{
    width: 50px;
    
    font-size: 1.2rem;
}
